<div class="wrapper">
  <h1>Pages#home</h1>
  <h2>Home</h2>
  <p>Find me in app/views/pages/home.html.erb</p>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>

  <div class="card">
    <p>Hello! I'm a card.</p>
  </div>

  <div class="card">
    <p>Hello! I'm a card.</p>
  </div>
</div>
