html, body {
  width : 100%;
  height: 100%;
}

body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin : 0;
  padding: .5em;
}

ul {
  list-style: none;
  margin : 0;
  padding: .5em;
}

li {
  margin : 0;
  padding: 0.5em;
  background: white;
}
